<div class="plan" style="width: 30%; padding: 2rem">
  <div class="card card--secondary">
    <header class="card__header">
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">10$</span>
      <span class="plan__billing-cycle">/month</span>
      <span class="badge badge--secondary badge--small">10% off</span>
      <span class="plan__description">Easy to start</span>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li>professional</li>
        <li>star</li>
        <li>comet</li>
        <li>sky</li>
      </ul>
      <button class="btn--outline btn--block">buy now</button>
    </div>
  </div>
</div>
