<section class="block">
  <header class="block__header">
    <h2>What our customers are saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, ratione?
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="/images/testimonial.jpg" alt="a happy, smiling person" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="/images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            consectetur similique aut totam eligendi. Temporibus debitis ea
            voluptatum consequatur reiciendis!
          </p>
          <footer>
            <div class="media">
              <div class="media__image"></div>
              <svg class="icon icon--primary">
                <use xlink:href="/images/sprite.svg#line"></use>
              </svg>
              <div class="media__body">
                <h3 class="media__title quote__author">Waasantar F</h3>
                <p class="quote__organization">Prolink Tech Center</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
